<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - PlatePilot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/mainStyleS.css') }}">
</head>
<body id="forgotPasswordPage">
    <main class="onboardingContainer">
        <h1 id="mainTitle">PlatePilot</h1>
        <div class="formCard">
            <h2>Forgot Your Password?</h2>
            <p class="formSubtitle">Enter your email to reset your password.</p>

            <form id="forgotForm">
                <input type="hidden" name="token" value="{{ token }}">

                <div class="inputGroup">
                    <label>Email: </label>
                    <input id="email" type="email" name="email" required>
                </div>

                <button class="RUGRbtn pagesBtn-primary full-width" type="submit">Reset Password </button>
            </form>
            <p class="account">Remembered it? <a href="{{ url_for('html_urls', filename='login.html') }}">Back to login</a></p>
        </div>
    </main>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
<footer>
    <p class="homeFooterTxt">© 2026 PlatePilot. All rights reserved.</p>
    <p class="homeFooterTxt"><a href="{{ url_for('html_urls', filename='privacy.html') }}">Privacy Policy</a> | <a href="{{ url_for('html_urls', filename='terms.html') }}">Terms of Service</a></p>
    <p class="homeFooterTxt"><a href="mailto:berkscott998@outlook.com">Contact Us</a></p>
</footer>
</html>