<!-- this is all Edgar's code -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlatePilot</title>
    <script src="https://kit.fontawesome.com/6487b0dbb2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/mainStyleS.css') }}">
</head>
<body class="homePage" id="homePage">
    <!-- Navigation Bar -->
    <nav class="homeNavbar">
        <div class="mainLogo">PlatePilot</div>
        <div>
            <a href="{{ url_for('html_urls', filename='login.html') }}" class="loginLink">Login</a>
        </div>
    </nav>
    <!-- Welcome Section -->
    <header class="welcome">
        <h1 class="welTitle">Precision on<span class="accent"> your plate.</span></h1>
        <p class="welSubtitle">Stop guessing what to eat. Our algorithm utilizes the extensive database provided by USDA to find and recommend nutritious foods to fill any deficits in your diet.</p>
        <div class="welBtns">
            <a href="{{ url_for('html_urls', filename='register.html') }}" class="homeBtns HBtnLink">
                <button class="homeBtns HBtn-primary">Start your Free Plan</button>
            </a>
            <a href="{{ url_for('html_urls', filename='about.html') }}" class="homeBtns HBtnLink">
                <button class="homeBtns HBtn-secondary">About PlatePilot</button>
            </a>
        </div>
    </header>

    <!-- Social Proof Section -->
    <section class="socialProof">
        <div class="randomLine"></div>
        <p class="socialProofTxt"> Trusted by 5+ decent eaters.</p>
        <div class="randomLine"></div>
    </section>

    <!-- Features Section -->
    <section class="features">
        <div class="homeContainer">
            <div class="featureCard">
                <div class="homeIcon">🥗<!-- input icon or if image add class featureIcon--></div>
                <h2 class="featureTitle">Extensive Database</h2>
                <p class="featureDesc">Vast database containing plethora of nutritional information for countless foods</p>
            </div>
            <div class="featureCard">
                <div class="homeIcon">🤖<!-- input icon or if image add class featureIcon--></div>
                <h2 class="featureTitle">Personalized Recommendations</h2>
                <p class="featureDesc">Get optimal recommendations of highly nutritious foods based off your dietary restrictions and food history.</p>
            </div>
            <div class="featureCard">
                <div class="homeIcon">📉<!-- input icon or if image add class featureIcon--></div>
                <h2 class="featureTitle">Progress Tracking</h2>
                <p class="featureDesc">Visual charts that update based on your logged food.</p>
            </div>
        </div>
    </section>
</body>
<footer class="homeFooter">
    <p class="homeFooterTxt">© 2026 PlatePilot. All rights reserved.</p>
    <p class="homeFooterTxt"><a href="{{ url_for('html_urls', filename='privacy.html') }}">Privacy Policy</a> | <a href="{{ url_for('html_urls', filename='terms.html') }}">Terms of Service</a></p>
    <p class="homeFooterTxt"><a href="mailto:berkscott998@outlook.com">Contact Us</a></p>
</footer>
</html>
