<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://kit.fontawesome.com/6487b0dbb2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/mainStyleS.css') }}">
</head>
<body class="homePage" id="homePage">
    <!-- Navigation Bar -->
    <nav class="homeNavbar">
        <div class="mainLogo">PlatePilot</div>
        <div>
            <a href="{{ url_for('html_urls', filename='login.html') }}" class="loginLink">Login</a>
        </div>
    </nav>
    <!-- Welcome Section -->
    <header class="welcome">
        <h1 class="welTitle">Precision on<span class="accent"> your plate.</span></h1>
        <p class="welSubtitle">Stop guessing what to eat. Our AI analyzes your information and goals to suggest foods you'll love.</p>
        <div class="welBtns">
            <a href="{{ url_for('html_urls', filename='register.html') }}" class="homeBtns HBtnLink">
                <button class="homeBtns HBtn-primary">Start your Free Plan</button>
            </a>
            <button class="homeBtns HBtn-secondary">How it works</button>
        </div>
    </header>

    <!-- Social Proof Section -->
    <section class="socialProof">
        <div class="randomLine"></div>
        <p class="socialProofTxt"> Trusted by 5+ decent eaters.</p>
        <div class="randomLine"></div>
    </section>

    <!-- Features Section -->
    <section class="features">
        <div class="homeContainer">
            <div class="featureCard">
                <div class="homeIcon">🥗<!-- input icon or if image add class featureIcon--></div>
                <h2 class="featureTitle">Tailored Recipes</h2>
                <p class="featureDesc">Recipes adjusted for your allergies and macro needs.</p>
            </div>
            <div class="featureCard">
                <div class="homeIcon">🤖<!-- input icon or if image add class featureIcon--></div>
                <h2 class="featureTitle">AI coaching</h2>
                <p class="featureDesc">Chat with your AI nutritionist anytime for food swaps.</p>
            </div>
            <div class="featureCard">
                <div class="homeIcon">📉<!-- input icon or if image add class featureIcon--></div>
                <h2 class="featureTitle">Progress Tracking</h2>
                <p class="featureDesc">Visual charts that update based on your logged meals.</p>
            </div>
        </div>
    </section>
</body>
<footer class="homeFooter">
    <p class="homeFooterTxt">© 2026 PlatePilot. All rights reserved.</p>
    <p class="homeFooterTxt">Privacy Policy | Terms of Service</p>
    <p class="homeFooterTxt">Contact Us: </p>
    
</footer>
</html>