<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <script src="https://kit.fontawesome.com/6487b0dbb2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="..\static\stylesheets\mainStyleS.css">
</head>
<body onload="redirectToHome()">
    <main>
        <div class="logCard trackerCard">
            <h1>You have been <span class="accent">successfully logged out.</span> </h1>
            <p class="formSubtitle"> See you tomorrow! 👋</p>
        </div>
    </main>
    <script src="..\static\js\main.js"></script>
</body>
</html>