<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build your profile - PlatePilot</title>
    <script src="https://kit.fontawesome.com/6487b0dbb2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="..\static\stylesheets\mainStyleS.css">
</head>
<body>
    <!-- progress bar section -->
    <div class="onboardingContainer">
        <div class="progressBarContainer">
            <div class="profileProgressBar" style="width: 50%;"></div>
        </div>
        <!-- title section -->
        <div class="formCard">
            <h2>Let's build your profile</h2>
            <p class="formSubtitle">Step 1: Your Biometrics</p>
            
            <form id="dietary-form">
                <!-- form elements i.e age-->
                <div class="inputGroup">
                    <label for="age">How old are you?</label>
                    <input type="number" id="userAgeDisplay" placeholder="e.g. 25" required>
                </div>
                <!-- form elements i.e weight -->
                <div class="inputGroup">
                    <label for="weight">Weight (lbs)</label>
                    <input type="number" id="userWeightDisplay" placeholder="e.g. 130" required>
                </div>
                <!-- form elements i.e gender -->
                <div>
                    <div class="radioButton">
                        <div for="Sex" style="font-weight: bold;">Sex</div>
                        <div>
                            <input type="radio" id="male" name="gender" value="Male" required>
                            <label for="male">Male</label>
                            <input type="radio" id="female" name="gender" value="Female" required>
                            <label for="female">Female</label>
                        </div>
                    </div>
                </div>
                <!-- form elements i.e height -->
                <div class="inputGroup">
                    <label for="height">Height (in)</label>
                    <input type="number" id="userHeightDisplay" placeholder="e.g. 67" required>
                </div>
                <!-- form elements i.e. activity level -->
                <div>
                    <div class="radioButton">
                        <div for="activityLevel" style="font-weight: bold;">Activity Level</div>
                        <div>
                            <input type="radio" id="sedentary" name="activityLevel" value="sedentary" required>
                            <label for="sedentary">Sedentary</label>
                            <input type="radio" id="light" name="activityLevel" value="light" required>
                            <label for="light">Lightly Active</label>
                            <input type="radio" id="moderate" name="activityLevel" value="moderate" required>
                            <label for="moderate">Moderately Active</label>
                            <input type="radio" id="very" name="activityLevel" value="very" required>
                            <label for="very">Very Active</label>
                        </div>
                    </div>
                </div>
                <!-- form elements i.e profile picture -->
                <div class="inputGroup">
                    <label style="font-weight: bold;">Profile Picture </label>
                    <div class="avatarUploadCon">
                        <img src="..\static\images\defaultProfile.jpg" id="registrationPreview" class="navAvatar" style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;">
                        <button type="button" class="RUGRbtn pagesBtn-secondary" id="uploadTrigger">Choose Photo</button>
                        <input type="file" id="userAvatarInput" accept="image/*" style="display: none;" required>
                    </div>
                </div>

                <!-- form elements i.e activity level bar -->
                <button type="button" class="RUGRbtn pagesBtn-primary full-width" onclick="nextStep()">Continue</button>
                <button type="button" class="RUGRbtn pagesBtn-secondary full-width" onclick="history.back()">Back</button>
            </form>
        </div>
        
    </div>
    <script src="..\static\js\main.js"></script>
</body>
</html>